<h2>Register</h2>
<form name="form" (ngSubmit)="register()" #f="ngForm" novalidate>
  <nz-form-item [ngClass]="{ 'has-error': f.submitted && !username.valid }">
    <label for="username">Username</label>
    <input type="text" nz-input name="username" [(ngModel)]="model.username" #username="ngModel" />
    <nz-form-explain *ngIf="f.submitted && !username.valid" class="help-block">Username requis</nz-form-explain>
  </nz-form-item>
  <nz-form-item>
    <label for="pictureUrl">URL de la photo</label>
    <input type="pictureUrl" nz-input name="pictureUrl" [(ngModel)]="model.pictureUrl" #pictureUrl="ngModel" />
  </nz-form-item>
  <nz-form-item>
    <label for="password">Mot de Passe</label>
    <input type="password" nz-input name="password" [(ngModel)]="model.password" #password="ngModel" />
  </nz-form-item>
  <div class="form-group">
    <button [disabled]="loading" nz-button nzType="primary">S'enregistrer</button>
    <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TgwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
    <a [routerLink]="['/login']" class="btn btn-link">Se connecter</a>
  </div>
</form>
<style>
  :host {
    display: block;
    background: white;
    padding: 20px;
  }

</style>
